<% if transcript.present? || generated_response.present? %>
  <div id="inner-content">
    <div class="divide-y-2 divide-[#303e7b] text-indigo">
      <section>
        <div class="wrap mx-auto p-4 pb-8 md:p-20 md:flex gap-8 items-center justify-between">
        </div>
      </section>

      <section>
        <div class="wrap mx-auto p-4 pb-8 md:p-20 md:flex gap-8 items-center justify-between">
          <div class="mb-6 md:mb-0 md:w-1/2">
            <h2 class="text-3.5xl lg:text-5xl leading-snug mb-4">Processed file/Transcript</h2>
            <p class="md:text-lg lg:text-xl"><%= transcript %></p>
          </div>

          <div class="mb-6 md:mb-0 md:w-1/2">
            <h2 class="text-3.5xl lg:text-5xl leading-snug mb-4">Remarks</h2>
            <% record = Record.new %>
            <p class="md:text-lg lg:text-xl"><%= record.analysis = generated_response %></p>
          </div>
        </div>
      </section>
      <section>
      </section>
    </div>
  </div>
<% end %>