<% content_for(:title) { "New record" } %>

<section class="text-indigo">
  <div class="wrap mx-auto px-4 pb-14 md:pb-20 flex flex-col items-center">
    <header class="md:mx-auto md:text-center mt-8 md:mt-16 mb-10 md:mb-16">
      <h1 class="text-3.5xl md:text-5xl leading-10">
        Add new record
      </h1>
    </header>

    <p class="md:text-xl max-w-3xl -mt-8">
      I am your <span class="font-sacramento text-3xl">intelligent cx</span> companion designed to help teams optimize their process of customer interaction quality. Simply upload your files, and I'll transcribe and process it for you and provide you an in-depth analysis of customer interactions.
    </p>
  </div>

  <%= render "form" %>

  </div>
</section>
