<div>
  <h1>Groq Form Request </h1>
  <%= render partial: "groq/form", locals: { uuid: @uuid } %>

  <%= turbo_stream_from "channel_#{@uuid}" %>

  <div id="groq_output">
    <%= render partial: "groq/output", locals: { generated_transcription: "",  generated_translation: "" } %>
  </div>
</div>

<%= Record.first.analysis %>
