<header class="global-header top-0 left-0 z-100 w-full md:fixed md:has-scroll:bg-cream transition-transform md:transition duration-300">
  <div
    class="wrap mx-auto flex md:justify-between top-0 left-0 w-full z-100 relative md:items-start md:px-4 md:h-32 lg:px-8 2lg:h-auto enabled:flex-col enabled:fixed enabled:h-full enabled:bg-red enabled:p-8 before:block md:before:hidden enabled:before:hidden before:fixed before:w-screen before:h-10 before:py-4 before:box-content before:top-0 before:left-0 before:z-40 before:transition before:duration-300 has-scroll:before:bg-cream"
    data-target="toggle.toggleable"
  >
    <div class="md:hidden enabled:hidden enabled:z-0 fixed left-0 top-0 z-40 h-14 w-full box-content" data-target="toggle.toggleable">
      <div class="w-full h-full grid grid-cols-2">
        <div class="flex flex-col items-start">
          <button class="text-red h-full transition duration-300 p-4" data-action="toggle#enable" data-target="toggle.toggleable">
            <svg viewBox="0 0 15 12" class="w-6 h-6 m-auto">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M.92 2C.4 2 0 1.566 0 1c0-.566.4-1 .92-1h9.16c.52 0 .92.434.92 1 0 .566-.4 1-.92 1H.92Zm9.13 8c.52 0 .95.434.95 1 0 .566-.4 1-.92 1H.92C.4 12 0 11.566 0 11c0-.566.4-1 .92-1h9.13Zm3.98-5A.98.98 0 0 1 15 6c0 .566-.408 1-.94 1H.94C.407 7 0 6.566 0 6c0-.566.408-1 .94-1h13.09Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>

        <div class="flex flex-col items-center justify-center">
          <a href="/" aria-label="Dizzie" class="text-red block">
            <div class="font-sacramento text-6xl text-indigo">
              cxmpanion
            </div>
          </a>
        </div>
      </div>
    </div>

    <nav class="hidden enabled:flex md:flex flex-col md:flex-row md:flex-grow md:py-4 font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900" data-target="toggle.toggleable">
      <div class="md:mr-4 mb-10 md:mb-0 flex justify-between items-center">
        <a href="/" aria-label="Dizzie" class="text-pink-100 md:text-red inline-block">
          <div class="font-sacramento text-6xl text-indigo">
            cxmpanion
          </div>
        </a>

        <button data-action="toggle#disable" class="md:hidden p-2 bg-white text-red rounded-full" id="close-nav-button">
          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
            <path d="M2.04742 2.05302L7.9944 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M7.9527 2.05302L2.00572 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </nav>

    <nav data-target="toggle.toggleable" class="hidden enabled:md:block md:block md:py-4 font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900">
      <div class="group">

        <div
          class="md:hidden md:enabled:block pointer-events-none enabled:pointer-events-auto transition duration-200 translate-x-full enabled:translate-x-0 md:transform-none md:enabled:transform-none fixed md:static bottom-0 left-0 w-screen md:w-auto h-full md:h-auto bg-red md:bg-transparent overflow-auto p-8 md:p-0 z-100 overflow-x-hidden font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900"
          data-target="toggle.toggleable"
        >
          <div class="md:hidden flex justify-between items-center mb-10 h-10 fixed left-0 top-0 py-8 w-full box-content bg-red">
            <button class="text-white ml-8" data-action="toggle#disable">
              <svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                <path
                  d="M14.1696 6.93374C14.8905 6.93155 15.4632 7.5042 15.4607 8.22513C15.4567 8.9448 14.8845 9.51627 14.1654 9.51635L5.37363 9.50608L8.45855 12.591C8.95937 13.0918 8.95655 13.9093 8.45526 14.4106C7.95385 14.912 7.13654 14.9147 6.63569 14.4139L0.443651 8.22182L6.56758 2.09789C7.06887 1.5966 7.88634 1.59378 8.38715 2.0946C8.88797 2.59542 8.88515 3.41289 8.38386 3.91417L5.36472 6.93332L14.1696 6.93374Z"
                ></path>
              </svg>
            </button>

            <button class="p-2 bg-white text-red rounded-full mr-8">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                <path d="M2.04742 2.05302L7.9944 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7.9527 2.05302L2.00572 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>

        </div>
      </div>
    </nav>

    <nav class="hidden enabled:block md:block md:py-4 font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900">
      <%= link_to "Records", records_path, class: "block md:font-bold hover:text-indigo md:p-2" %>
    </nav>

    <nav class="hidden enabled:block md:block md:py-4 font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900">
      <%= link_to "Prompt Template", prompt_templates_path, class: "block md:font-bold hover:text-indigo md:p-2" %>
    </nav>

    <nav class="hidden enabled:block md:block md:py-4 font-heading md:font-body text-3xl md:text-base text-white md:text-gray-900">
      <%= link_to "Rating Template", rating_templates_path, class: "block md:font-bold hover:text-indigo md:p-2" %>
    </nav>

    <nav class="hidden md:block enabled:hidden fixed md:static bottom-0 left-0 z-40 w-screen md:w-auto flex flex-col justify-end md:py-4" data-target="toggle.toggleable">
      <div class="p-8 pt-4 md:p-0 bg-white md:bg-transparent flex justify-between items-stretch rounded-t-4 md:rounded-none shadow-card md:shadow-none w-full">
        <div class="flex grow justify-evenly"></div>
      </div>
    </nav>
  </div>
</header>